<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<a href='controller/index'>Home Page</a>
<a href='controller/list'>Devices List</a>
<a href='controller/add'>Add Devices</a>
<a href='controller/device'>Manage Devices</a>
{%if module == 'list' %}
<table>
	<th>Name</th>
	<th>SN</th>
	<th>IpAddr</th>
	<th>PassWord</th>
	<th>Notes</th>
  {%for d in device_list %}
  <tr>
	  <td>{{d.name}}</td>
	  <td>{{d.sn}}</td>
	  <td>{{d.ipaddr}}</td>
	  <td>{{d.login}}</td>
	  <td>{{d.password}}</td>
	  <td>{{d.notes}}</td>
  </tr>
  {%end for%}
</table>
{%end if%}
</body>
</html>
